.slider {
    position: relative;
    display: none;
    cursor: pointer;
}

.slider.on {
    display: block;
}

.slider>img {
    position: absolute;
}

.slider>img.logos {
    left: 1129px;
    top: 28px;
}
.bg {
    background-color: white;
    position: absolute;
    left: 0px;
    top: 0px;

    width: 1920px;
    height: 1080px;
}
.main {
    position: relative;
    overflow: visible;
}