html {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
body, html {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

div {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

i.vti {
    font-size: 60px;
    cursor: pointer;
    color:#D8D8D8;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

body {
    position: relative;
}

img, svg, svg * {
    
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
      
}

.noevents, .noevents * {
    pointer-events: none!important;
}